/*
	BB1 G Truslove Jan 2018
*/

.productoptionstable {
	border-top: 1px solid $st-content-border;
	border-bottom: 1px solid $st-content-border;
	margin-bottom: $sc-margin-lv2;
	display:block;
	position:relative;
}

.productoptions-td-row:nth-child(odd) {
	background: $st-content-row;
}

.productoptions-th-row {
	@extend .row;
	border-bottom: 1px solid $st-content-border;
	margin-left:0px;
	margin-right:0px;

	@media (max-width: $screen-xs-max) {
	display:none;
	}
}
.productoptions-foot-row {
	@extend .row;
	border-top: 1px solid $st-content-border;
	margin-left:0px;
	margin-right:0px;
}

.productoptions-td-row {
	@extend .row;
	margin-left:0px;
	margin-right:0px;
}

.productoptions-th {
	@extend .col-lg-2;
	@extend .col-md-2;
	@extend .col-sm-2;
	@extend .col-xs-4;
	text-transform: uppercase;
	color: $st-content-th;
	letter-spacing: 1px;
	padding: $sc-padding-lv3 $sc-padding-lv2;
	font-size: 12px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}

.productoptions-th-wide {
	@extend .col-lg-2;
	@extend .col-md-2;
	@extend .col-sm-3;
	@extend .col-xs-4;
	text-transform: uppercase;
	color: $st-content-th;
	letter-spacing: 1px;
	padding: $sc-padding-lv3 $sc-padding-lv2;
	font-size: 12px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-th-verywide {
	@extend .col-lg-4;
	@extend .col-md-4;
	@extend .col-sm-6;
	@extend .col-xs-12;
	text-transform: uppercase;
	color: $st-content-th;
	letter-spacing: 1px;
	padding: $sc-padding-lv3 $sc-padding-lv2;
	font-size: 12px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-th-narrow {
	@extend .col-lg-1;
	@extend .col-md-1;
	@extend .col-sm-1;
	@extend .col-xs-4;
	text-transform: uppercase;
	color: $st-content-th;
	letter-spacing: 1px;
	padding: $sc-padding-lv3 $sc-padding-lv2;
	font-size: 12px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}

.productoptions-td {
	@extend .col-lg-2;
	@extend .col-md-2;
	@extend .col-sm-2;
	@extend .col-xs-4;
	color: $st-content-td;
	padding: $sc-padding-lv2;
	font-size: 14px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-td-wide {
	@extend .col-lg-2;
	@extend .col-md-2;
	@extend .col-sm-3;
	@extend .col-xs-4;
	color: $st-content-td;
	padding: $sc-padding-lv2;
	font-size: 14px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-td-verywide {
	@extend .col-lg-4;
	@extend .col-md-4;
	@extend .col-sm-6;
	@extend .col-xs-12;
	color: $st-content-td;
	padding: $sc-padding-lv2;
	font-size: 14px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-td-narrow {
	@extend .col-lg-1;
	@extend .col-md-1;
	@extend .col-sm-1;
	@extend .col-xs-4;
	color: $st-content-td;
	padding: $sc-padding-lv2;
	font-size: 14px;
	@media (max-width: 520px) {
	width:50%!important;
	}
}
.productoptions-td-titletext {
	text-transform: uppercase;
	color: $st-content-th;
	letter-spacing: 1px;
	font-size: 12px;

}
.productoptions-td-title {
	@extend .productoptions-td-titletext;
display:none;
	@media (max-width: $screen-xs-max) {
	display:block;
	}
}
.productoptions-price {
	color: $st-color-green;
	font-weight:bold;
}
.productoptions-td-title.wrapped{display:inline!important;}
.productoptions-th-row.wrapped{display:none!important;}

.productoptionstable-reference {
	@extend .input-required;
}

.productoptionstable-content {
	height: 100%;
	margin-top: 0;
	background: $sc-color-theme-background;

	.pdp-detail-options-content-wrapper {
		padding: $sc-padding-lv4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow: hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.productoptionstable-content-price,
.productoptionstable-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.productoptionstable-option-container {}

.button-addtolist,.button-addtoquote{
 @extend .button-primary-border;
 @extend .button-large;
background-color:none;
width:100%;
text-transform:uppercase;
outline:0;
padding-left:$sc-padding-lv1;
padding-right:$sc-padding-lv1;
margin-bottom:$sc-margin-lv3;
}
.button-addtocart{
 @extend .button-primary;
 @extend .button-large;
width:100%;
text-transform:uppercase;
outline:0;
padding-left:$sc-padding-lv1;
padding-right:$sc-padding-lv1;
margin-bottom:$sc-margin-lv3;
}
.button-addtolist-icon,.button-addtoquote-icon{
@extend .fa;
	@extend %fa-plus-circle;
}
.button-addtocart-icon{
@extend .fa;
	@extend %fa-arrow-circle-right;
}
.footer-add-icon-size {
    font-size:24px;
    vertical-align:middle;
}
.productoptions-buttons{
	@extend .row;
	margin-bottom:$sc-margin-lv3;
	margin-top:$sc-margin-lv6!important;
}
.hide-add-remove .product-details-quantity-add{
display:none!important;
}
.hide-add-remove .product-details-quantity-remove{
display:none!important;
}
.price-ex-vat{
font-size:9px;
color:#BBB;
}
.stock-notes{
font-size:12px;
color:#999;
display:none;
}