input[type="phone"] {
 @extend input[type="text"];
}

.contact-management-list {
    @media (min-width: $screen-sm-min) {
        .contact-management-list-list-header-container {
            clear: both;
        }
    }

    .list-header-view-filters {
        padding: 0;
    }
}
.contact-management-list-header {
    @extend .list-header;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.contact-management-list-title {
    @extend .list-header-title;
    float:none;
    @media (min-width: $screen-sm-min) {
        float: left;
    }
}

.contact-management-list-paginator {
    margin: 15px 0;
    @extend .clearfix;

    .contact-management-list-global-views-pagination,
    .contact-management-list-global-views-current-page,
    .global-views-showing-current  {
        float: right;
    }
    .global-views-showing-current {

        @media (min-width: $screen-sm-min) {
            padding-top: 10px;
        }
    }
    .contact-management-list-global-views-current-page {
        margin-right: 15px;

        @media (min-width: $screen-sm-min) {
            margin-top: 10px;
        }
    }
}


.contact-management-list-content-table {
    @extend .recordviews-row-header;
}

.contact-management-list-content-table-header-row-title {
    @extend .recordviews-header !optional;
    width: 40%;
}
.contact-management-list-content-table-header-row-project {
    @extend .recordviews-header !optional;
    width: 30%;
}
.contact-management-list-content-table-header-row-sow {
    @extend .recordviews-header !optional;
    width: 30%;
}

.contact-management-list-results-container
{
    @media (min-width: $screen-md-min) {

        .recordviews-title {
            width: 40%;
        }

        .recordviews-project {
            width: 30%;
        }
        
        .recordviews-sow {
            width: 30%;
        }

    }
}

.contact-management-list-button-back {
    @extend .button-back;
}

.contact-management-list-button-back-icon {
    @extend .button-back-icon;
}

.contact-management-list-empty {
    @extend .list-empty;
}

.contact-management-list-header {
    @extend .list-header;
}
.contact-management-list-title {
    @extend .list-header-title;
}

.contact-management-list-confirm-message{
    clear:both;
    float:none;
}

.contact-management-list-recordviews-table{
    @extend .recordviews-table;
}