/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-details-quantity-options-title {
	text-transform: uppercase;
	margin-bottom: $sc-margin-lv2;
	display: block;
}
.product-details-quantity-options {

	[data-validation-error="block"] {
		margin-top: $sc-margin-lv2;
	}
}

.product-details-quantity-options-title {
	font-weight:$sc-font-weight-bold;
}

.product-details-quantity-options-title-help {
	clear: both;
	display: block;
	font-weight:$sc-font-weight-light;
	margin: $sc-margin-lv2 0;
}

.product-details-quantity-add,
.product-details-quantity-remove {
	@extend .button-secondary;
	
	border: none;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;

	&:focus {
		outline: none;
	}

-webkit-border-radius: 50%;
	border-radius: 50%;

	@media (min-width: $screen-md-min) {
		width: $sc-target-size-desktop;
	height: $sc-target-size-desktop;
	}
}

.product-details-quantity-remove{float:left;}

.product-details-quantity-value {
	@extend .quantity-input;
	height: $sc-target-size-mobile!important;
 	padding:$sc-margin-lv1!important;
 	width: 50px!important;
 	text-align: right;
	background-color: #ebf1f4;
	border: 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	font-weight:$sc-font-weight-normal;
	display: inline-block!important;
	margin:0px 2px;

	@media (min-width: $screen-md-min) {
height: $sc-target-size-desktop!important;
	}
}

.product-details-quantity-container {
	@extend .quantity-input-container;
}
