/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.social-sharing-flyout-content {
	position: relative;
	float: right;
}
.social-sharing-flyout-content-button {
	@extend .sc-flyout-control;
	font-size: 15px;
	min-width: 85px;
}
.social-sharing-flyout-content-button-icon{
	@extend .fa;
	@extend %fa-share-alt-square;
	font-size: 20px;
}
.social-sharing-flyout-content-social {
	@extend .sc-flyout-content;
	width: 165px;
	left: auto;
	right: 0;
}
.product-details-full-social-sharing {
border:1px solid $st-color-lightgrey;
padding:13px;width:100%;font-size:1.017rem;
text-align:center;
margin-right:$sc-margin-lv3;
}
.product-details-full-social-sharing-right {
padding:13px;width:100%;font-size:1.017rem;
text-align:right;
}
.social-sharing-flyout-text{text-transform:uppercase;color:$st-color-lightgrey;display:inline;}
.social-sharing-flyout-content-social-facebook,
.social-sharing-flyout-content-social-twitter,
.social-sharing-flyout-content-social-google,
.social-sharing-flyout-content-social-pinterest,
.social-sharing-flyout-content-social-print,
.social-sharing-flyout-content-social-email  {
	color: $sc-color-link;
	font-size:24px;
	margin-right: $sc-margin-lv2;
	display: inline;

	span {
		display: none;
	}
}
.social-sharing-flyout-content-social-pinterest {
	margin-bottom: 0;
}
.social-sharing-flyout-content-social-facebook-icon {
	@extend .fa;
	@extend %fa-facebook-square;
}
.social-sharing-flyout-content-social-twitter-icon {
	@extend .fa;
	@extend %fa-twitter-square;
}
.social-sharing-flyout-content-social-google-icon {
	@extend .fa;
	@extend %fa-google-plus-square;
}
.social-sharing-flyout-content-social-pinterest-icon {
	@extend .fa;
	@extend %fa-pinterest-square;
}
.social-sharing-flyout-content-social-facebook-icon {
	@extend .fa;
	@extend %fa-facebook-square;
}
.social-sharing-flyout-content-social-print-icon {
	@extend .fa;
	@extend %fa-print;
}
.social-sharing-flyout-content-social-email-icon {
	@extend .fa;
	@extend %fa-envelope-o;
}
.facebook-like-btn
{
	margin: $sc-margin-lv2 $sc-margin-lv2 0 0;
}

.social-sharing-flyout-icons {
}
